.component.text input {
    /*width: calc(100% - 0.5em);*/
    padding: 0.4em 0.4em 0.2em 0.4em;
    width: 100%;
    font-family: "Avenir Next";
    border: #d0d0d0 solid 1px;
    box-shadow: inset #ededed 0 1px 1px;
}

.component.text input:focus {
    outline: none;
    border-color: rgba(30, 144, 255, 0.56);
    box-shadow: inset rgba(30, 144, 255, 0.29) 0 0 2px;
}